*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES */
body{
  font-family: 'Noto Sans', sans-serif;
}
.d-flex{
  display: flex;
}
a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  align-items: center;
}
.blue-link{
  color: white;
  background-color: #0061FF;
  padding: 6px 15px;
}
.titolo-h2{
  font-size: 1.7rem;
  font-weight: 800;
  margin: 15px 0;
}


/* HEADER RULES */

.menu-bar{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 70px;
  background-color:#FFFFFF;
  justify-content: space-between;
}



.menu-bar section ul li{
  margin: 0 20px;
}

/* parte di jumbotron */
header{
  background-color: #B4D0E7;
}
.jumbotron{
  padding-top: 20px;
  background-color: #B4D0E7;
  width: 80%;
  height: 650px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
}
.titolo-j{
  font-size: 2.8rem;
  width: 100%;
  /* min-width: 1200px; */
  max-width: 1200px;
  /* height: 150px; */
  margin-top: 7%;
}

.descrizione-j{
  max-width: 400px;
  flex-direction: column;
  margin-top: 30px;
}
.descrizione-j p{
  margin-bottom: 30px;
}
.descrizione-j span{
  margin-top: 15px;
  margin-bottom: 40px;
}
.descrizione-j>a{
  font-size: 3rem;
}
.blocco-img img{
  width: 715px;
  position: absolute;
  margin-top: 35px;
  margin-left: 15px;
}








/* MAIN RULES */
main{
  padding-top: 180px;
}
.container{
  width: 70%;
  margin: 0 auto;
}


.first-row .titolo-h2{
  margin-bottom: 30px;
}
/* regole per i fake input radio-box */
.radio-box{
  font-weight: 550;
}
.radio-box i{
  color: #e4dfdf;
  cursor: pointer;
}
.radio-box i:hover{
  color: #0061FF;
}
/* /regole per i fake input radio-box */

/* proprietà second-row */

.col{
  position: relative;
  border: 1px solid #D0D0D3;
  height: 800px;
  width: calc(100% / 3);
  margin: 30px 20px;
  flex-direction: column;
  align-items: center;
  
}

.mini-icone{
  font-weight: 550;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
} 

.caratteristiche-col{
  margin-top: 35px;
  padding: 25px;
  border-top: 1px solid #D0D0D3;
  line-height: 35px;
}
.caratteristiche-col>span{
  display: block;
}
.mezza-linea{
  width: 50px;
  color: #D0D0D3;
}
.titolo-h3{
  font-weight: 900;
  font-size: 20px;
}
.prezzo{
  font-weight: 900;
}
.durata-servizio{
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #71808C;
}



.third-row{
  height: 100%;
}
.contatta{
  position: relative;
  margin: 0 auto;
  width: calc(100% - 40px);
  height: 200px;
  margin-bottom: 100px;
  border: 1px solid #D0D0D3;
  /* pero ora poi si toglie */
  line-height: 45px;
}
p.icon{
  line-height: 30px; /*valore di prova per ora*/
  text-align: center;
  border-bottom: 1px solid #D0D0D3;
}
.link-contatta{
  position: absolute;
  right: 10px;
  top: 50px;
}



.fourth-row{
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
.main-div{
  width: 50%;
}
.main-div img{
  width: 100%;
}

.aside-section{
  margin: 0 30px;
  width: 42%;
  height: 304px;
}



.fifth-row{
  flex-wrap: wrap;
}
.vantaggi-img{
  width: calc(100% / 4);
  margin: 0 30px;
  height: 400px;
}
.vantaggi-img img{
  width: 100%;
}




.sixth-row{
margin-bottom: 100px;
}






.container2{
  
}

.big-box{
  width: 400px;
  min-width: 400px;
}
.box-contenitore{
  flex-wrap: wrap;
  align-content: flex-start;
}
.box{
  width:200px;
  height: 200px;
  background-color: blueviolet;
}
.box img{
  object-fit: cover;
}
.b1{
background-color: #A2D39B;
}
.b2{
  background-color: #61082B;
}
.b3{
  background-color: #0093CE;
}
.b4{
  background-color: #FF1C1C;
}
.b5{
  background-color: #D5001F;
}
.b6{
  background-color: #B4D0E7;
}
.b7{
  background-color: #0D2481;
}
.b8{
  background-color: #FFD830;
}

.testo-centrale{
  background-color: #F5F5F5;
  height: 400px;
  overflow: auto;
}






.rettangolo-box{
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 100px;
  background-color: #B4D0E7;
}