*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES */
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.d-flex{
  display: flex;
}
ul li a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  align-items: center;
}




/* HEADER RULES */

.menu-bar{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 70px;
  background-color:#FFFFFF;
  justify-content: space-between;
}



.menu-bar section ul li{
  margin: 0 20px;
}

/* parte di jumbotron */
header{
  background-color: #B4D0E7;
}
.jumbotron{
  padding-top: 70px;
  background-color: #B4D0E7;
  width: 80%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
}
.titolo-j{
  font-size: 3rem;
  width: 100%;
  min-width: 1200px;
  max-width: 1030px;
  height: 150px;
  margin-top: 7%;
}

.descrizione-j{
  flex-direction: column;
  margin-top: 30px;
  max-width: 400px;
}
.blocco-img img{
  width: 800px;
  position: absolute;
  margin-top: 35px;
  margin-left: 15px;
}








/* MAIN RULES */
main{
  padding-top: 180px;
}
.container{
  width: 70%;
  margin: 0 auto;
}

.col{
  position: relative;
  border: 1px solid black;
  height: 700px;
  width: calc(100% / 3);
  margin: 30px 20px;
  flex-direction: column;
  align-items: center;
  
}

.mini-icone{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
} 

.caratteristiche-col{
  margin-top: 35px;
  padding: 25px;
  border-top: 1px solid black;
}
.caratteristiche-col>span{
  display: block;
}

.mezza-linea{
  width: 50px;
}



.third-row{
  height: 100%;
}
.contatta{
  position: relative;
  margin: 0 auto;
  width: calc(100% - 40px);
  height: 200px;
  margin-bottom: 100px;
  border: 1px solid black;
  /* pero ora poi si toglie */
  line-height: 45px;
}
p.icon{
  line-height: 30px; /*valore di prova per ora*/
  text-align: center;
  border-bottom: 1px solid black;
}
.link-contatta{
  position: absolute;
  right: 10px;
  top: 50px;
}



.fourth-row{
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin: 0 auto;
  width: calc(100% - 40px);
}
.main-div{
  width: 50%;
}
.main-div img{
  width: 100%;
}

.aside-section{
  margin: 0 30px;
  width: 42%;
  height: 304px;
}



.fifth-row{
  flex-wrap: wrap;
}
.vantaggi-img{
  width: calc(100% / 4);
  margin: 0 30px;
  height: 400px;
}
.vantaggi-img img{
  width: 100%;
}